Localization
{
	en-us
	{
	    #LOC_PEW_Agent_title = Promethium Industries
		#LOC_PEW_Agent_description = Promethium industries is not responsible for any damage to any persons or objects of any kind and from any source that may possibly be traced to any of the items sold by our organization. All sales are final.

		//GBU-53
		#LOC_PEW_GBU53_title = GBU-53/B "Stormbreaker" Small Diameter Bomb
		#LOC_PEW_GBU53_description = A radar guided small diameter bomb. It has built-in folding wings that allow it to glide for long distances and hit targets with precision.
		#LOC_PEW_GBU53_weapon = GBU-53
		
		//GBU-57A
		#LOC_PEW_GBU57_title = GBU-57A/B Kerbin Penetrating Bomb
		#LOC_PEW_GBU57_description = A 30,000lb bunker buster too wide to fit in mk2 bays. First used to destroy underground VABs at the Dessert Launch Site.
		#LOC_PEW_GBU57_weapon = GBU-57
		
		//GBU-43
		#LOC_PEW_GBU43_title = GBU-43/B MOAB
		#LOC_PEW_GBU43_description = The Massive Ordnance Air Blast (MOAB), also known as the "Mother of all bombs" is a 22,000lb airburst weapon which follows on from the BLU-82. It is the most powerful conventional bomb ever used in combat.
		#LOC_PEW_GBU43_weapon = MOAB
		
		//BLU-82
		#LOC_PEW_BLU82_title = BLU-82 "Daisy Cutter" Bomb
		#LOC_PEW_BLU82_description = 15,000lb unguided bomb filled to the brim with explosive slop. Perfect for killing spiders.
		#LOC_PEW_BLU82_weapon = BLU-82
		
		//Flogger
		#LOC_BDRefurb_Flogger_title = R-3R "Flogger" Missile
		#LOC_BDRefurb_Flogger_description = A light-weight short range radar-guided missile designed to be carried in quantity.
		#LOC_BDRefurb_Flogger_weapon = R-3R
		
		//S-400
		#LOC_PEW_9M96E2_title = 9M96E2 Intercept Missile
		#LOC_PEW_9M96E2_description = Medium range high speed surface to air missile. Used in the S-400 Triumf air defence system.
		#LOC_PEW_9M96E2_weapon = 9M96E2
		
		//R77
		#LOC_PEW_R77_title = R-77 "Adder" Missile
		#LOC_PEW_R77_description = What if the AMRAAM had gridfins?
		#LOC_PEW_R77_weapon = R-77
		
		//Waverider
		#LOC_MNWS_X51_title = X51 Waverider Missile
		#LOC_MNWS_X51_description = 
		#LOC_MNWS_X51_weapon = X51
		
		//RIM-162
		#LOC_MalFunc_162_title = RIM-162 Evolved Sea Sparrow Missile
		#LOC_MalFunc_162_description = Medium Range Radar-Guided Point-Defense-Missile, can be launched from VLS cells and the MK29 turret.
		#LOC_MalFunc_162_weapon = RIM-162 ESSM
		
		//RIM-66
		#LOC_Refurb_66_title = RIM-66 Standard
		#LOC_Refurb_66_description = The RIM-66 Standard, or Standard Missile 2 (SM-2) is a medium range Radar-Guided Air-Defence Missile which can be launched from VLS cells.
		#LOC_Refurb_66_weapon = RIM-66
		
		//RIM-174
		#LOC_PEW_174_title = RIM-174 Standard ERAM
		#LOC_PEW_174_description = The RIM-174 Standard Extended Range Active Missile (ERAM), or Standard Missile 6 (SM-6) is an extended range Radar-Guided Air-Defence Missile which can be launched from VLS cells.
		#LOC_PEW_174_weapon = RIM-174
		
		//AIM-174
		#LOC_Refurb_174B_title = RIM-174B "Gunslinger"
		#LOC_Refurb_174B_description = 
		#LOC_Refurb_174B_weapon = RIM-174B
		
		//ASMP
		#LOC_KerbalField_ASMP_title = 
		
		//AGM-158
		#LOC_KerbalField_158_title = 
		#LOC_KerbalField_158C_title = 
		#LOC_KerbalField_158B_title = 
		#LOC_KerbalField_158VLS_title = 
	}
}