Localization
{
	en-us
	{
		#LOC_PEW_Agent_title = Promethium Industries
		#LOC_PEW_Agent_description = Promethium industries is not responsible for any damage to any persons or objects of any kind and from any source that may possibly be traced to any of the items sold by our organization. All sales are final.

		#LOC_RU_agent_title = Klensgrad Tractor Commune
		#LOC_RU_agent_description = A Promethium Industries Partner

		#LOC_US_agent_title = United Imperial Foundries
		#LOC_US_agent_description = A Promethium Industries Partner
		
		//***Guns***//
			
		//Bradley
		#LOC_PEW_Bradley_title = M2 Bradley Turret
		#LOC_PEW_BradleyTOW_title = M2 Bradley Turret (TOW)
		#LOC_PEW_Bradley_description = This moderately armoured IFV turret comes with a 25mm Autocannon and an optional launch pod for two TOW missiles.\n\n<color=orange>25mm Ammo</color>
		#LOC_PEW_Bradley_weapon = Bradley
		#LOC_PEW_BradleyTOW_weapon = Bradley TOW
		#LOC_PEW_Bradley_Variant_ERA = Era
		#LOC_PEW_Bradley_Variant_NoERA = Bare

		//Eland
		#LOC_PEW_Eland_title = Eland 90B Turret
		#LOC_PEW_Eland_description = This small turret is an attempt to pack high caliber rounds into a small package. This results in an IFV sized frame able to fire 90mm rounds at the cost of all other performance.\n\n<color=orange>Cannon Shells</color>
		#LOC_PEW_Eland_weapon = Eland
		#LOC_PEW_Eland_Variant_Camo = Camouflage
		#LOC_PEW_Eland_Variant_Plain = Plain Grey
		
		//T90MA
		#LOC_PEW_T90_title = T-90MS Turret
		#LOC_PEW_T90_description = A fully modernized 125mm smooth-bore cannon on an armoured turret.\n\n<color=orange>First bullet is a standard AP shell. The second, HESH. Cannon Shells</color>
		#LOC_PEW_T90_weapon = T90
		
		//Challenger
		#LOC_PEW_Challenger_title = Challenger II Turret
		#LOC_PEW_Challenger_description =  A smooth-bore 120mm cannon with greater range than most contemporaries.\n\n<color=orange>First bullet is a standard AP shell. The second, HESH. Cannon Shells</color>
		#LOC_PEW_Challenger_weapon = Challenger II
		
		//BMP2
		#LOC_PEW_BMP_title = BMP2 Turret
		#LOC_PEW_BMP_description =  A nimble high rate of fire turret firing explosive 30x165mm rounds. The small frame does not allow the BMP2 turret to hold any ammo internally unlike its contemporaries\n\n<color=orange>30mm Ammo</color>
		#LOC_PEW_BMP_weapon = BMP2
		
		//mk19
		#LOC_PEW_mk19_title = Mk.19 Grenade Launcher
		#LOC_PEW_mk19_description = This 40mm grenade launcher devastates infantry and light armor.
		#LOC_PEW_mk19_weapon = mk19
	}
}