Localization
{
	en-us
	{
		#LOC_KerbalField_modname = KerbalField

		#LOC_RU_agent_title = Klensgrad Tractor Commune
		#LOC_RU_agent_description = E
	
		#LOC_KPDynamics_Gladia_title = Gladia Fleetworks
		
		//Sprut
		#LOC_KerbalField_Sprut_title = 2S25-Sprut Turret
		#LOC_KerbalField_Sprut_description = The 2S25 Sprut-SD is a 125mm self-propelled gun designed to meet requirements for airborne deployment.\n\n<color=orange>First bullet is a standard AP shell. The second, HESH. Cannon Shells</color>
		#LOC_KerbalField_Sprut_weapon = Sprut
		
		//AB76
		#LOC_KerbalField_AB76_title = AB-76 Cannon
		#LOC_KerbalField_AB76_description = Manufactured in partnership with Gladia Ordnance & Ballistics, the AB-76 is an air-portable conversion of the Mk62 76mm Naval Gun. While performing much the same this version features a more streamlined firing mechanism and fixed firing. It requires an aircraft to aim it.\n\n<color=orange>\Use the GP round to make things burn and explode, PLA-P to penetrate moderately armoured targets. PF-HE comes with a customisable Prox fuse but has little to no armour piercing.</color>
		#LOC_KerbalField_AB76_weapon = 76mm Cannon
	}
}