Localization
{
	en-us
	{

		//BD Jets
		#LOC_BDRefurb_EJ_title = J-28 "Tiger" Afterburning Turbofan
		#LOC_BDRefurb_EJ_description = A high performance 0.625m jet engine, with a fixed nozzle and an afterburner for extra thrust.
		#LOC_BDRefurb_Saturn_title = J-606 "Jaguar" Afterburning Turbofan
		#LOC_BDRefurb_Saturn_description = A high performance jet engine with a variable geometry thrust vectoring nozzle and an afterburner for extra thrust.

		//ERA
		#LOC_BDRefurb_SingleERA_title = BD 0.3x0.25 Light Reactive Armor
		#LOC_BDRefurb_SingleERA_description = A single Reactive Armor section. Great for adding that little extra bit of protection on top of existing armor.
		
		//SmokeCM
		#LOC_BDRefurb_SmokeCmPod_title = Smoke Countermeasure Pod Jr
		#LOC_BDRefurb_SmokeCmPod_description = Fires fewer smoke-screen countermeasures for occluding laser pointers
		
		//Slapchop Hellfire
		#LOC_BDRefurb_R9X_title = AGM-114R-9X Hellfire "Slapchop" Missile
		#LOC_BDRefurb_R9X_description = Small, quick, laser guided homing missile that uses a kinetic warhead with extending blades instead of explosives. Designed for surgical strikes to eliminate targets with minimal collateral damage.
		#LOC_BDRefurb_R9X_weapon = Slapchop
		
		//ScaledBombs
		#LOC_BDRefurb_84jdam_title = Mk84 JDAM Bomb
		#LOC_BDRefurb_84jdam_description = 2000lb GPS-guided bomb
		#LOC_BDRefurb_84brake_title = Mk84 SnakeEye Bomb
		#LOC_BDRefurb_84brake_description = 2000lb unguided bomb with airbrakes. Use for low altitude bombing
		#LOC_BDRefurb_84_title = Mk84 Bomb
		#LOC_BDRefurb_84_description = 2000lb unguided bomb
		#LOC_BDRefurb_83brake_title = Mk83 SnakeEye Bomb
		#LOC_BDRefurb_83brake_description = 1000lb unguided bomb with airbrakes. Use for low altitude bombing
		#LOC_BDRefurb_83_title = Mk83 Bomb
		#LOC_BDRefurb_83_description = 1000lb unguided bomb
		#LOC_BDRefurb_82jdam_title = Mk82 JDAM Bomb
		#LOC_BDRefurb_82jdam_description = 500lb GPS-guided bomb
		
		//BD Jets
		#LOC_BDRefurb_EJ_title = J-28 "Tiger" Afterburning Turbofan
		#LOC_BDRefurb_EJ_description = A high performance 0.625m jet engine, with a fixed nozzle and an afterburner for extra thrust.
		#LOC_BDRefurb_Saturn_title = J-606 "Jaguar" Afterburning Turbofan
		#LOC_BDRefurb_Saturn_description = A high performance jet engine with a variable geometry thrust vectoring nozzle and an afterburner for extra thrust.
		
		//AMRAAM
		#LOC_BDRefurb_AMRAAM_Variant_Uncut = Uncut Fins
		#LOC_BDRefurb_AMRAAM_Variant_Cut = Cut Fins
		
		#LOC_BDRefurb_Variant_Inert = Inert
		#LOC_BDRefurb_Variant_Live = Live
		
		//HARM
		#LOC_BDRefurb_Variant_GreyHARM = Grey
		#LOC_BDRefurb_Variant_WhiteHARM = White
		
		//Phoenix
		#LOC_BDRefurb_ERRAAM_title = AIM-54 Phoenix Missile
		#LOC_BDRefurb_ERRAAM_description = A heavy, extended-range Radar-Guided Air to Air Missile that uses a lofted trajectory for engaging targets at extreme range. 
		#LOC_BDRefurb_ERRAAM_Weapon = AIM-54
		
		//Mavericks
		#LOC_BDRefurb_Mavericks_Variant_Tapered = Tapered Fins
		#LOC_BDRefurb_Mavericks_Variant_Straight = Straight Fins
		
		#LOC_BDRefurb_Mavericks_Variant_White = White
		#LOC_BDRefurb_Mavericks_Variant_Green = Green
	
		#LOC_BDRefurb_HATG_title = AGM-65H "Mattock" Rocket Bomb
		#LOC_BDRefurb_HATG_description = The answer to the question nobody asked: What if you put a bomb in the middle? This variant strips out most of the fuel of the standard Maverick in place of a large GBU-derived payload.
		#LOC_BDRefurb_HATG_Weapon = Mattock
		
		#LOC_BDRefurb_ERATG_title = AGM-65ER "Lucerne" Missile
		#LOC_BDRefurb_ERATG_description =
		#LOC_BDRefurb_ERATG_Weapon = Lucerne
		
		#LOC_BDRefurb_Maverick_title = AGM-65 "Maverick" Missile
		#LOC_BDRefurb_Maverick_description =
		#LOC_BDRefurb_Maverick_Weapon = Maverick
		
		//Abrams
		#LOC_BDRefurb_Abrams_title = M1 Abrams Turret
		#LOC_BDRefurb_Abrams_description = Designed under licence with Nujan Dynamics, the M256 is a 120 mm smoothbore gun built into a well armored body.\n\n<color=orange>Cannon Shells</color>
		#LOC_BDRefurb_Abrams_weapon = Abrams
}