Localization
{
	en-us
	{
		//Leopard
		#LOC_KP_Leopard_title = J-250 "Leopard" Afterburning Turbofan
		#LOC_KP_Leopard_description = A huge high performance jet engine with sustained afterburning capacity. The perfect choice when brute force is required. Slow throttle response necessitates longer than usual takeoff roll and landing approaches.
		
		//Tiger
		#LOC_KP_Tiger_title = J-22 "Tiger" Afterburning Turbofan
		#LOC_KP_Tiger_description = A small high performance jet engine, with a fixed nozzle and an afterburner for extra thrust.
		
		//Jolt
		#LOC_KP_Jolt_title = J-X5 "Jolt" Turbo Ramjet Engine
		#LOC_KP_Jolt_description = A highly advanced engine using space-grade materials for very high performance. This small model operates best at higher altitudes and speeds but lacks the gimbal capacity of its larger cousin. 
		
		//Zephyr
		#LOC_KP_Zephyr_title = J-U16 "Zephyr" Unducted Turbofan
		#LOC_KP_Zephyr_description = An experiment in improving the efficiency of turbofan engines, this cumbersome engine has 16 exterior fan blades. Triple-Dip Systems is not liable for injury or dismemberment.
		
		//Puma
		#LOC_KP_Puma_title = J-505 "Puma" Afterburning Turbofan
		#LOC_KP_Puma_description = A high performance jet engine with 2D thrust vectoring and stealthy nozzle geometry.

		//Jaguar
		#LOC_KP_Jaguar_title = J-410 "Jaguar" Afterburning Turbofan
		#LOC_KP_Jaguar_description = A high performance afterburning jet engine with a thrust vectoring nozzle. Industry experts have bemoaned the existence of this engine, as finding meaningful differences between it and C7 Aerospace's popular J-404 model has proved a difficult and boring task.

		//Lion
		#LOC_KP_Lion_title = J-511 "Lion" Vectored Afterburning Turbofan
		#LOC_KP_Lion_description = A very high performance jet engine with an afterburner and a three-bearing swivel nozzle for vertical takeoffs and landings. Complex automated computer systems govern much of the nozzle's behaviour throughout flight. A prolonged testing campaign by Corain Motors, focused around resolving the infamous 'pitch-down-and-die problem', has made vertical landing operations using this part almost safe.

		//Grumble
		#LOC_KP_Grumble_title = J-3 "Grumble" Turbofan Engine
		#LOC_KP_Grumble_description = A workhorse low-bypass turbofan equipped with a pair of clamshell reverser buckets that might have seen better days. Deploying them turns the whole exhaust back on itself, which can shorten a landing roll dramatically.

		//InlineVentilation
		#LOC_KP_InlineVentilation_title = Inline Lift Fan
		#LOC_KP_InlineVentilation_description = Repurposed from industrial HVAC equipment, this fan produces a great deal of cold thrust and is packaged for vertical integration into the fuselage of an aircraft. A prolonged testing campaign by Corain Motors, focused around resolving the infamous 'pitch-down-and-die problem', has made vertical landing operations using this part almost safe.
    }
}




