Localization
{
	zh-cn
	{
		//"#LOC_KPDynamics_"

		
		//***雷达***//
		
		//SNOOP系列
		#LOC_KPDynamics_SnoopLarge_title = SNOOP-7(V)3 大型相控阵雷达
		#LOC_KPDynamics_SnoopLarge_description = THE/SNOOP-7(V)3是有史以来最大的单体相控阵雷达系统。它拥有令人畏惧的37个独立扫描单元，能够探测目标、跟踪目标、烧毁电子设备、烤焦宇航员，以及烧毁自己。
		#LOC_KPDynamics_SnoopLarge_radar = SNOOP-7 大型
		
		#LOC_KPDynamics_SnoopSmall_title = SNOOP-7(V)1 小型相控阵雷达
		#LOC_KPDynamics_SnoopSmall_description = THE/SNOOP-7(V)1将尖端的有源电子扫描阵列（AESA）架构塞进一个小巧的机身——只有9个扫描单元，它弱到运行时不会对任何人构成危险——实际上它几乎什么都做不了！
		#LOC_KPDynamics_SnoopSmall_radar = SNOOP-7 小型
		
		#LOC_KPDynamics_SnoopRotate_title = SNOOP-R(V)4 机动式相控阵雷达
		#LOC_KPDynamics_SnoopRotate_description = THE/SNOOP-R(V)4将10个AESA扫描单元集成到一个多功能组件中。“R”代表“旋转”(Rotate)！
		#LOC_KPDynamics_SnoopRotate_radar = SNOOP-R 
		#LOC_KPDynamics_SnoopRotate_Variant_Bare = 裸露
		#LOC_KPDynamics_SnoopRotate_Variant_Covered = 防护罩
		
		//EsperiEye
		#LOC_KPDynamics_EsperiEye_title = “爱丽眼” 预警指挥雷达
		#LOC_KPDynamics_EsperiEye_description = 爱丽眼（EsperiEye）是由Aerfel工业公司设计的S波段AESA雷达系统，用于空中监视和海上巡逻任务。它提供300度的覆盖范围，作用距离远超当代战斗机雷达。
		#LOC_KPDynamics_EsperiEye_radar = 爱丽眼
		#LOC_KPDynamics_EsperiEye_Variant_Bare = 裸露
		#LOC_KPDynamics_EsperiEye_Variant_Struts = 支柱
		
		//Simpson
		#LOC_KPDynamics_Simpson_title = “辛普森” 多功能雷达
		#LOC_KPDynamics_Simpson_description = 在设计这款雷达时，工程师们起初犯了一些错误，做出了一些错误的假设，并且公开失败，但辛普森（SIMPSON）现已准备好上市。这是一款能够跟踪数百个目标的固态AESA雷达，可执行多种任务，但被优化为海军防空系统的火控组件。
		#LOC_KPDynamics_Simpson_radar = 辛普森
		#LOC_KPDynamics_Simpson_Variant_rods = 天线
		#LOC_KPDynamics_Simpson_Variant_bare = 裸露
		
		//OATS
		#LOC_KPDynamics_OATS_title = 先进光学瞄准系统
		#LOC_KPDynamics_OATS_description = 先进光学瞄准系统（OATS）是一种
		#LOC_KPDynamics_OATS_camera = 先进光学瞄准系统

		//Neolidas
		#LOC_KPDynamics_Neolidas_title = “尼奥利达斯” 高功率微波炮塔
		#LOC_KPDynamics_Neolidas_description = 尼奥利达斯（Neolidas）高功率微波炮塔是一种定向能武器，旨在瘫痪轻型无人机群。\n在测试中，原型机已负责摧毁超过12,000部手机。
		#LOC_KPDynamics_Neolidas_weapon = 尼奥利达斯微波炮塔
		
		
		//***火炮***//
		
		//Lynx
		#LOC_KPDynamics_Lynx_title = KP41 “战斧” 步兵战车炮塔
		#LOC_KPDynamics_Lynx_description = KP41“战斧”是一款多用途步兵战车炮塔，配备有爆发式射击的机关炮。最初的设计将连发数限制为三发，并问道“为何不更多”，结果炮管就熔化了。
		#LOC_KPDynamics_Lynx_weapon = 战斧
		#LOC_KPDynamics_Lynx_Variant_Manned = 有人型
		#LOC_KPDynamics_Lynx_Variant_Unmanned = 无人型
		
		//20mm
		#LOC_KPDynamics_20_title = 20mm Mk7 舰炮
		#LOC_KPDynamics_20_description = 这种轻型舰炮发射20mm弹药。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造，可购买带现代护罩的型号，或保持裸露骨架的版本。\n\n<color=orange></color>
		#LOC_KPDynamics_20_weapon = 20mm 舰炮
		
		//40mm
		#LOC_KPDynamics_40_title = 40mm Mk4 舰炮
		#LOC_KPDynamics_40_description = 这种轻型舰炮发射40mm弹药。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造，自带火炮。\n\n<color=orange>PFHE是一种大量破片弹，带有可定制近炸引信，最适合用于对抗导弹。GP弹会爆炸并引燃目标，AP弹可穿透110mm厚的轧压均质装甲。</color>
		#LOC_KPDynamics_40_weapon = 40mm 舰炮
		
		//57mm
		#LOC_KPDynamics_57_title = 57mm Mk3 舰炮
		#LOC_KPDynamics_57_description = 这种轻型舰炮发射57mm弹药。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造，可选购两种不同的护罩——一种是昨天的基本、廉价且乏味的标准型，或是明天的炫酷、整体式且昂贵的隐身型。\n\n<color=orange>在8500米距离上对2x2目标估计精度为45%。标准炮弹模拟近炸高爆效果。</color>
		#LOC_KPDynamics_57_weapon = 57mm 舰炮
		#LOC_KPDynamics_57_Variant_Standard = 标准护罩
		#LOC_KPDynamics_57_Variant_Stealth = 隐身护罩
		
		//76mm
		#LOC_KPDynamics_76_title = 76mm Mk62 舰炮
		#LOC_KPDynamics_76_description = 这种中型舰炮发射76mm弹药。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造，可配置多种样式——经久耐用的圆顶型号，体积较小但过时且雷达反射面高，或是现代且“流线型”（并不会让你更快）的型号。\n\n<color=orange>\使用GP弹使目标燃烧爆炸，PLA-P弹用于穿透中等装甲目标。PF-HE弹带有可定制近炸引信，但几乎没有穿甲能力。</color>
		#LOC_KPDynamics_76_weapon = 76mm 舰炮
		#LOC_KPDynamics_76_Variant_Standard = 标准型
		#LOC_KPDynamics_76_Variant_Super = 超 rapid 型
		#LOC_KPDynamics_76_Variant_Dome = 圆顶型
		
		//100mm
		#LOC_KPDynamics_100_title = 100mm Mk8 舰炮
		#LOC_KPDynamics_100_description = 这种中型舰炮发射100mm弹药。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造。\n\n<color=orange></color>
		#LOC_KPDynamics_100_weapon = 100mm 舰炮
		
		//127mm
		#LOC_KPDynamics_127_title = 127mm Mk4 舰炮
		#LOC_KPDynamics_127_description = 这种重型舰炮发射127mm炮弹。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造，非常适合驱逐舰，因为它能在远距离很好地摧毁东西。\n\n<color=orange>GP弹带有爆炸和燃烧效果，SAP弹在嵌入目标装甲后引爆。子母弹药会以宽锥形散布40枚子弹药。</color>
		#LOC_KPDynamics_127_weapon = 127mm 舰炮
		
		//155mm
		#LOC_KPDynamics_155_title = 155mm Mk51 火炮系统
		#LOC_KPDynamics_155_description = 这种远程舰炮发射155mm制导炮弹。由Gladia Fleetworks的子公司Gladia Ordnance & Ballistics制造，非常适合首轮打击。由于其原始特性，其开发计划异常快速、廉价且顺利。\n\n<color=orange>发射LRLAP弹，飞行中可修正航向，每次射击消耗2发炮弹</color>
		#LOC_KPDynamics_155_weapon = 155mm 火炮系统
		
		
		//***发射器***//
		
		//HarpoonTube
		#LOC_KPDynamics_141_title = Mk141 “鱼叉” 发射管
		#LOC_KPDynamics_141_description = 这种甲板安装的发射系统组件非常适合防空导弹。将导弹安装到顶部节点即可装载该类型导弹。导弹需单独购买。
		#LOC_KPDynamics_141_weapon = Mk141 发射管
		#LOC_KPDynamics_141_Variant_Both = 双支架
		#LOC_KPDynamics_141_Variant_Fore = 仅前支架
		#LOC_KPDynamics_141_Variant_Rear = 仅后支架
		#LOC_KPDynamics_141_Variant_None = 无支架
		
		
		//***导弹***//
		
		//CUDA
		#LOC_KPDynamics_CUDA_title = AIM-160 丛林蛇 导弹
		#LOC_KPDynamics_CUDA_description = AIM-160 丛林蛇（CUDA）是一种先进的空对空导弹，在更小的体积内实现了与AIM-120相似的性能。BD Dynamics的生产人员忘记安装AIM-120的前端，结果产生了一枚功能齐全、大小与地狱火或硫磺石半穿轨导弹相当的导弹。
		#LOC_KPDynamics_CUDA_weapon = AIM-160丛林蛇
		
		//Scalp-NG
		#LOC_KPDynamics_SCALP_title = SRS-2003 “暴风阴影” 巡航导弹
		#LOC_KPDynamics_SCALP_description = SRS-2003是一种远程、低可探测性、纵深打击武器。它被设计用于对高价值固定目标进行预先计划好的攻击，并凭借其隐身特性辅助抵达这些目标。[citation:1]
		#LOC_KPDynamics_SCALP_weapon = SRS-2003暴风阴影
		
		//Taurus
		#LOC_KPDynamics_Taurus_title = SRS-3505 “卡帕尔” 巡航导弹
		#LOC_KPDynamics_Taurus_description = SRS-2014是一种重型、远程、纵深打击武器。它被设计用于对加固目标（如掩体和桥梁）进行预先计划好的攻击。
		#LOC_KPDynamics_Taurus_weapon = SRS-3505卡帕尔
		
		//Brimstone
		#LOC_KPDynamics_AST3_title = SRS-1238 “硫磺石” 导弹
		#LOC_KPDynamics_AST3_description = 硫磺石（Brimstone）是一种精确战术打击武器，能够在直接和间接模式下攻击多种目标类型；包括移动车辆、建筑、友方装甲和小型舰艇。它拥有发射后不管的雷达制导，并以牺牲部分机动性为代价，比地狱火导弹的射程略有增加。
		#LOC_KPDynamics_AST3_weapon = SRS-1238硫磺石
		#LOC_KPDynamics_AST3_Variant_Black = 黑色
		#LOC_KPDynamics_AST3_Variant_Grey = 灰色
		
		//Meteor
		#LOC_KPDynamics_Meteor_title = SRA-1239 “流星” 导弹
		#LOC_KPDynamics_Meteor_description = 流星（Meteor）是一种雷达制导的超视距空对空导弹。GNC的专家们厌倦了必须亲自驾驶飞机冲撞目标，于是决定给导弹装上喷气发动机，这赋予了流星很大的射程和转弯能力。
		#LOC_KPDynamics_Meteor_weapon = SRA-1239流星
		
		//ASRAAM
		#LOC_KPDynamics_ASRAAM_title = SRA-132 “彗星” 导弹
		#LOC_KPDynamics_ASRAAM_description = 彗星（Comet）是一种先进短程空对空导弹，采用红外制导。
		#LOC_KPDynamics_ASRAAM_weapon = SRA-132彗星
		
		//SPEAR 3
		#LOC_KPDynamics_Spear_title = SRS-30 “硫磺” 小直径巡航导弹
		#LOC_KPDynamics_Spear_description = 硫磺（Sulfur）导弹，因其三个尾翼和圆顶前端也被称为“Sphere-3”，是一种小直径巡航导弹，旨在从传统上用于空对空导弹的导弹滑轨上成组发射。与流星导弹类似，硫磺导弹由一台喷气发动机提供动力，使其体积虽小却拥有适中的射程。
		#LOC_KPDynamics_Spear_weapon = 硫磺
		
		#LOC_KPDynamics_SpearGlide_title = GBU-30 “硫磺” 小直径滑翔炸弹
		#LOC_KPDynamics_SpearGlide_description = 硫磺（Sulfur）导弹，因其三个尾翼和圆顶前端也被称为“Sphere-3”，是一种小直径巡航导弹，旨在从传统上用于空对空导弹的导弹滑轨上成组发射。此型号去除了推进系统，代之以额外的炸药。
		#LOC_KPDynamics_SpearGlide_weapon = 硫磺-滑翔型
		
		#LOC_KPDynamics_SpearEW_title = SRA-404 “硫磺-EW” 电子战系统
		#LOC_KPDynamics_SpearEW_description = 硫磺（Sulfur）导弹，因其三个尾翼和圆顶前端也被称为“Sphere-3”，是一种小直径巡航导弹，旨在从传统上用于空对空导弹的导弹滑轨上成组发射。此型号充当机动雷达干扰器。
		#LOC_KPDynamics_SpearEW_weapon = 硫磺-电子战型
		
		#LOC_KPDynamics_Spear_Variant_Plain = 灰色
		#LOC_KPDynamics_Spear_Variant_Stripes = 灰 & 灰
		
		//Kreuger
		#LOC_KPDynamics_Kreuger_title = BIM-100 “Kreuger” 导弹
		#LOC_KPDynamics_Kreuger_description = E
		#LOC_KPDynamics_Kreuger_weapon = Kreuger
		
		//Coyote
		#LOC_KPDynamics_Coyote_title = BIM-45 “Coyote_title” 导弹
		#LOC_KPDynamics_Coyote_description = E
		#LOC_KPDynamics_Coyote_weapon = Coyote_title

		//MdCN
        #LOC_KPDynamics_MdCN_title = SRS-2004 “深渊地带” 导弹
        #LOC_KPDynamics_MdCN_description = 通常按字面意思称为“海军巡航导弹”，深渊地带导弹旨在从海军和水面平台发射，攻击固定目标。它与SRS-2003共享大部分关键部件，但以牺牲低可探测性换来了这种先进的发射能力。[citation:1]
        #LOC_KPDynamics_MdCN_weapon = 海军暴风阴影
		
		//SiAW
        #LOC_KPDynamics_SiAW_title = AGM-88H “SiAW” 导弹
        #LOC_KPDynamics_SiAW_description = AGM-88H 防区内攻击武器（SiAW）是一种反辐射导弹，旨在攻击防空设施。据说尖锐的脊线有助于它像切黄油一样切开目标，但高爆战斗部可能也有效果。
        #LOC_KPDynamics_SiAW_weapon = AGM-88H“SiAW”

        //ASN4G
        #LOC_KPDynamics_ASN4G_title = ASN4G 导弹
        #LOC_KPDynamics_ASN4G_description = 一枚来自某个国家奇怪、名字也很奇怪的高超音速巡航导弹。
        #LOC_KPDynamics_ASN4G_weapon = ASN4G
		
		//***弹道导弹***
		
		//GMLRS
		#LOC_KPDynamics_GMLRS_title = MGM-30 制导火箭炮系统
		#LOC_KPDynamics_GMLRS_description = MGM-30 “GMLRS” 是一种GPS制导火箭系统，能够对中距离的GPS目标提供制导打击。
		#LOC_KPDynamics_GMLRS_weapon = MGM-30 GMLRS
		
		//PRSM
		#LOC_KPDynamics_PRSM_title = MGM-250 精确打击火箭
		#LOC_KPDynamics_PRSM_description = MGM-250 “PRSM” 是一种下一代弹道导弹系统，能够将单个战斗部投送到比任何其他系统都更远的GPS目标上，但成本也更高。
		#LOC_KPDynamics_PRSM_weapon = MGM-250 PRSM
		
		//ATACMS
		#LOC_KPDynamics_ATACMS_title = MGM-140 集束弹药火箭系统
		#LOC_KPDynamics_ATACMS_description = MGM-140 “ATACMS” 是一种大型战术火箭，能够向远程GPS目标投送集束子弹药。
		#LOC_KPDynamics_ATACMS_weapon = MGM-140 ATACMS
		
		#LOC_KPDynamics_Variant_Coloured = 彩色
		#LOC_KPDynamics_Variant_White = 白色
		
		//***炸弹***
		
		//GBU-39
		#LOC_KPDynamics_GBU39_title = GBU-39 “分水岭” 小直径制导炸弹
		#LOC_KPDynamics_GBU39_description = 一种GPS制导的小直径炸弹。它内置可折叠机翼，使其能够长距离滑翔并精确命中目标。
		#LOC_KPDynamics_GBU39_weapon = GBU-39
		
		//JDAM-ER
		#LOC_KPDynamics_84jdamer_title = Mk84 JDAM-ER 滑翔炸弹
		#LOC_KPDynamics_84jdamer_description = 一种2000磅的GPS制导炸弹，带有增程滑翔套件
		#LOC_KPDynamics_84jdamer_weapon = Mk84 滑翔炸弹
		
		#LOC_KPDynamics_83jdamer_title = Mk83 JDAM-ER 滑翔炸弹
		#LOC_KPDynamics_83jdamer_description = 一种1000磅的GPS制导炸弹，带有增程滑翔套件
		#LOC_KPDynamics_83jdamer_weapon = Mk83 滑翔炸弹
		
		#LOC_KPDynamics_82jdamer_title = Mk82 JDAM-ER 滑翔炸弹
		#LOC_KPDynamics_82jdamer_description = 一种500磅的GPS制导炸弹，带有增程滑翔套件
		#LOC_KPDynamics_82jdamer_weapon = Mk82 滑翔炸弹
		
		//Paveway II
		#LOC_KPDynamics_84paveway_title = Mk84 激光制导炸弹
		#LOC_KPDynamics_84paveway_description = 一种2000磅的激光制导炸弹
		#LOC_KPDynamics_84paveway_weapon = Mk84 宝石路 II型
		
		#LOC_KPDynamics_83jdamer_title = Mk83 激光制导炸弹
		#LOC_KPDynamics_83jdamer_description = 一种1000磅的激光制导炸弹
		#LOC_KPDynamics_83jdamer_weapon = Mk83 宝石路 II型
		
		#LOC_KPDynamics_82jdamer_title = Mk82 激光制导炸弹
		#LOC_KPDynamics_82jdamer_description = 一种500磅的激光制导炸弹
		#LOC_KPDynamics_82jdamer_weapon = Mk82 宝石路 II型
		
		//BunkerBuster
		#LOC_KPDynamics_GBU28_title = GBU-28 “宝石路 III型” 
		#LOC_KPDynamics_GBU28_description = 常被称为“掩体粉碎机”炸弹，GBU-28是一种重型
		#LOC_KPDynamics_GBU28_weapon = GBU-28
		
		//SUU-14
		#LOC_KPDynamics_SUU_title = SUU-14/A 阻力式子弹药布撒器
		#LOC_KPDynamics_SUU_description = SUU-14 布撒器是一种组合式炸弹外壳，设计用于低空飞行的飞机。它容纳30枚阻力式子弹药，设计适配标准滑轨甚至内部弹舱。
		#LOC_KPDynamics_SUU_weapon = SUU-14
		
		//Bomblet
		#LOC_KPDynamics_Bomblet_title = Mk3 子弹药
		#LOC_KPDynamics_Bomblet_description = 由SUU-14和LADY布撒器发射的非制导阻力式子弹药。你在这里做什么，你根本不应该能读到这个。
		#LOC_KPDynamics_Bomblet_weapon = SUU-14 子弹药
    }
}